body {
    /* fond d'écran */
    background: linear-gradient(to bottom right, #0000AA, #fFAA00);
    background-attachment: fixed;

    font-family:'Times New Roman', Times, serif;
    color: white;
}

main {
  width: 95%;
  max-width: 1000px;
  margin: 2% auto;
  padding: 2rem;
}

h1 {
    color:red;
    text-align: center;
    text-size: 100px
}

/* === Conteneur === */

.container {
  display: flex;
  align-items: center; /* aligne verticalement au centre */
  gap: 10px;           /* espace entre l'image et le texte */
}

.container img {
  width: 300px;        /* largeur de l'image */
  object-fit: cover;
  border: 3px #FFFFFF;
}

.texte {
    flex: 1;
    border: 3px #FFFFFF;
}
/* ========================================================== */
